<ion-content class="welcome-content">
  <div class="background-overlay">
    <!-- Círculo para el logo -->
    <div class="logo-circle">
      <!-- Aquí puedes insertar un logo si tienes uno -->
      <img src="assets/logo.png" alt="Logo" style="width: 40px; height: 40px;">
    </div>

    <!-- Título o Logotipo -->
    <h1 class="welcome-title">ServiList</h1>

    <div class="gradient-box">
      <!-- Botón para Iniciar Sesión -->
      <ion-button expand="block" shape="round" class="start-button" routerLink="/auth">
        Iniciar sesión
      </ion-button>
    </div>

    <!-- Imagen de las personas en el fondo -->
    <img src="assets/people.png" alt="Ilustración de Bienvenida" class="people-image"/>
  </div>
</ion-content>
