/* Estilo para el círculo del logo */
.logo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
  }

h1{
    margin-top: 0;
    color: #FF5722;
}


