<ion-header>
  <ion-toolbar class="header">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="info-container">
    <h2>Información de la cuenta</h2>

    <div class="profile-container">
      <ion-avatar *ngIf="userData.profileImageUrl" class="profile-avatar">
        <img [src]="userData.profileImageUrl" />
      </ion-avatar>

      <ion-icon
        class="image-icon"
        *ngIf="!userData.profileImageUrl"
        name="image-outline"
      ></ion-icon>

      <!-- Botón para cambiar la foto -->
      <ion-button class="custom-button" size="small" (click)="showImageOptions()">
        Cambiar imagen
      </ion-button>      
    </div>

    <h2>Información básica</h2>
    <ion-list lines="none">
      <!-- Nombre -->
      <ion-item>
        <ion-label>
          <h2>Nombre</h2>
          <p>{{ userData?.name }} {{ userData?.lastName }}</p>
        </ion-label>
      </ion-item>

      <!-- RUT -->
      <ion-item>
        <ion-label>
          <h2>RUT</h2>
          <p>{{ userData?.rut }}</p>
        </ion-label>
      </ion-item>

      <!-- Correo -->
      <ion-item>
        <ion-label>
          <h2>Correo Electrónico</h2>
          <p>{{ userData?.email }}</p>
        </ion-label>
      </ion-item>

      <!-- Número de Contacto -->
      <ion-item>
        <ion-label>
          <h2>Número de Contacto</h2>
          <p>{{ userData?.contactNumber }}</p>
        </ion-label>
      </ion-item>

      <!-- Ubicación -->
      <ion-item>
        <ion-label>
          <h2>Dirección</h2>
          <p>
            {{ userData?.location?.address || 'No especificada' }}
            {{ userData?.location?.addressNumber || 'No especificada' }},
            {{ userData?.location?.comuna || 'No especificada' }},
            {{ userData?.location?.region || 'No especificada' }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<!-- BOTTOM BAR -->
<app-bottom-nav></app-bottom-nav>
