<ion-header>
  <ion-toolbar class="header">
    <ion-title>Agregar Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <app-custom-input 
      icon="home-outline"
      [control]="form.controls.name"
      type="name"
      label="Nombre del Servicio">
    </app-custom-input>

    <app-custom-input 
      icon="pricetag-outline"
      [control]="form.controls.category"
      type="category"
      label="Categoria">
    </app-custom-input>

    <app-custom-input 
      icon="information-circle-outline"
      [control]="form.controls.description"
      type="description"
      label="Descripción">
    </app-custom-input>

    <app-custom-input 
      icon="cash-outline"
      [control]="form.controls.price"
      type="price"
      label="Precio">
    </app-custom-input>
    

    <!-- <ion-item>
      <ion-label position="stacked">Imagen del Servicio</ion-label>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item> -->

    <ion-button class="orange-button" shape="round" expand="block" type="submit" [disabled]="form.invalid"> 
      <!-- || !imageFile"> -->
      Guardar
    </ion-button>
  </form>
</ion-content>
