ion-content {
  --padding-bottom: 60px;
}

/* Encabezado */
.header {
  --background: #FF7043;
  --color: white;
}

.header ion-icon {
  color: white;
}

form {
    padding: 0px 10px;
}

.orange-button {
    --background: #FF7043; /* Tu color naranja */
    --background-hover: #e66139; /* Color más oscuro para el hover */
    --background-activated: #ff9170; /* Color al hacer clic */
  }  