.header {
  --background: #FF7043;
  --color: white;
}

.main-container {
  padding: 16px;
  padding-bottom: 70px; /* Ajuste para evitar superposición con el navbar */
}

.main-title {
  font-size: 20px;
  font-weight: bold;
  color: #FF7043;
  text-align: center;
  margin-bottom: 15px; /* Reducido */
}

.section {
  margin-bottom: 15px; /* Reducido */
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-bottom: 8px; /* Reducido */
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-avatar {
  width: 150px;
  height: 150px;
  --border-radius: 15px;
  object-fit: cover;
  border: 2px solid #FF7043;
}

.image-icon {
  font-size: 90px; /* Reducido */
  opacity: 30%;
}

.custom-button {
  --background: #FF7043;
  --background-hover: #e66139;
  --border-radius: 20px;
  font-weight: bold;
  margin-top: 8px; /* Reducido */
}

ion-item {
  --background: #f9f9f9;
  --border-radius: 10px;
  margin: 8px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  align-items: center; /* Alinea el contenido verticalmente */
}

ion-icon[slot="start"] {
  font-size: 20px; /* Ajusta el tamaño si es necesario */
  margin-top: auto; /* Centrado vertical */
  margin-bottom: auto; /* Centrado vertical */
  color: #555; /* Asegúrate de que el color coincide con el diseño */
}


ion-label {
  font-weight: bold;
  color: #555;
}

.save-button {
  --background: #FF7043;
  --background-hover: #e66139;
  --border-radius: 25px;
  font-size: 14px; /* Reducido */
  font-weight: bold;
  --padding-top: 10px; /* Reducido */
  --padding-bottom: 10px; /* Reducido */
  margin-top: 15px; /* Reducido */
}

