<ion-header>
  <ion-toolbar class="header">
    <ion-title>Agregar Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <app-custom-input 
      icon="home-outline"
      [control]="form.controls.name"
      type="name"
      label="Nombre del Servicio">
    </app-custom-input>

    <app-custom-input 
      icon="pricetag-outline"
      [control]="form.controls.category"
      type="category"
      label="Categoria">
    </app-custom-input>

    <app-custom-input 
      icon="information-circle-outline"
      [control]="form.controls.description"
      type="description"
      label="Descripción">
    </app-custom-input>

  <!-- Días disponibles -->
  <ion-item>
    <ion-label position="stacked">Días Disponibles</ion-label>
    <ion-select formControlName="availableDays" multiple="true">
      <ion-select-option value="monday">Lunes</ion-select-option>
      <ion-select-option value="tuesday">Martes</ion-select-option>
      <ion-select-option value="wednesday">Miércoles</ion-select-option>
      <ion-select-option value="thursday">Jueves</ion-select-option>
      <ion-select-option value="friday">Viernes</ion-select-option>
      <ion-select-option value="saturday">Sábado</ion-select-option>
      <ion-select-option value="sunday">Domingo</ion-select-option>
    </ion-select>
  </ion-item>

    <!-- Horarios disponibles -->
    <ion-item>
      <ion-label position="stacked">Horarios Disponibles</ion-label>
      <ion-button expand="block" color="medium" (click)="addAvailableHour()">Añadir Horario</ion-button>
    </ion-item>

    <!-- Muestra los horarios ingresados -->
    <ion-list>
      <ion-item *ngFor="let hour of availableHours; let i = index">
        <ion-label>{{ hour.startTime }} - {{ hour.endTime }}</ion-label>
        <ion-button fill="clear" color="danger" (click)="removeAvailableHour(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-button class="orange-button" shape="round" expand="block" type="submit" [disabled]="form.invalid"> 
      <!-- || !imageFile"> -->
      Guardar
    </ion-button>
  </form>
</ion-content>
