<ion-footer>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home" (click)="home()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" (click)="favorites()">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scheduled-services" (click)="scheduledServices()">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Mis Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" (click)="openMenu()">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>