<ion-footer>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <!-- Inicio -->
    <ion-tab-button
      *ngIf="isClient"
      tab="home"
      (click)="navigateTo('home', $event)"
      [class.active]="activeTab === 'home'">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- Favoritos para clientes -->
    <ion-tab-button
      *ngIf="isClient"
      tab="favorites"
      (click)="navigateTo('home/favorites', $event)"
      [class.active]="activeTab === 'favorites'">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <!-- Servicios Agendados para clientes -->
    <ion-tab-button
      *ngIf="isClient"
      tab="scheduled-services"
      (click)="navigateTo('home/scheduled-services', $event)"
      [class.active]="activeTab === 'scheduled-services'">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Mis Citas</ion-label>
    </ion-tab-button>

    <!-- Home de Servicios para proveedores -->
    <ion-tab-button
      *ngIf="!isClient"
      tab="service-home"
      (click)="navigateTo('service-home', $event)"
      [class.active]="activeTab === 'service-home'">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <!-- Citas Agendadas para proveedores -->
    <ion-tab-button
      *ngIf="!isClient"
      tab="appointments-management"
      (click)="navigateTo('/service-home/service-appointments', $event)"
      [class.active]="activeTab === 'appointments-management'">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Agendados</ion-label>
    </ion-tab-button>

    <!-- Perfil -->
    <ion-tab-button
      tab="profile"
      (click)="navigateTo('profile', $event)"
      [class.active]="activeTab === 'profile'">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <!-- Cerrar Sesión -->
    <ion-tab-button
      tab="logout"
      (click)="firebaseSvc.signOut()"
      [class.active]="activeTab === 'logout'">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
