ion-tab-bar {
    --background: #ffffff; /* Fondo blanco */
    --color: #333; /* Color del icono y texto */
    --color-selected: #FF5722; /* Naranja para el icono y texto seleccionados */
  }

  ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }
  
  .custom-tab-bar {
    --background: #ffffff; /* Fondo blanco */
    --color: #333; /* Color de icono y texto inactivo */
    --color-selected: #FF5722; /* Color naranja para icono y texto activo */
  }
  