ion-tab-bar {
  --background: #ffffff; /* Fondo blanco */
  --color: #333; /* Color del ícono y texto */
  --color-selected: #FF5722; /* Naranja para el ícono y texto seleccionados */
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.custom-tab-bar ion-tab-button {
  color: #333; /* Color inactivo */
}

.custom-tab-bar ion-tab-button.active ion-icon,
.custom-tab-bar ion-tab-button.active ion-label {
  color: #FF5722; /* Naranja */
  font-weight: bold; /* Resaltar texto opcional */
}
