<ion-header>
  <ion-toolbar class="header">
    <ion-title>{{ service?.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="service-fav">
      <ion-button (click)="deleteService()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="service-details" *ngIf="service">
    <!-- Imagen del servicio con botón para editar -->
    <img [src]="localImage || service.imageUrl || defaultImageUrl" alt="Imagen del servicio" class="service-image" />
    <ion-button expand="block" (click)="selectPhoto()">Cambiar Imagen</ion-button>

    <ion-list class="editable-list">
      <!-- Nombre del servicio editable -->
      <ion-item lines="full">
        <ion-label>
          <h2>{{ service.name }}</h2>
        </ion-label>
        <ion-button fill="clear" size="small" slot="end" (click)="openEditAlert('name', service.name)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Categoría editable -->
      <ion-item lines="full">
        <ion-label>
          <p>{{ service.category }}</p>
        </ion-label>
        <ion-button fill="clear" size="small" slot="end" (click)="openEditAlert('category', service.category)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Descripción editable -->
      <ion-item lines="full">
        <ion-label>
          <p>{{ service.description }}</p>
        </ion-label>
        <ion-button fill="clear" size="small" slot="end" (click)="openEditAlert('description', service.description)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Días disponibles -->
      <ion-item lines="full">
        <ion-label>Días Disponibles</ion-label>
        <ion-select multiple="true" [value]="service.availableDays" (ionChange)="updateDays($event)">
          <ion-select-option value="monday">Lunes</ion-select-option>
          <ion-select-option value="tuesday">Martes</ion-select-option>
          <ion-select-option value="wednesday">Miércoles</ion-select-option>
          <ion-select-option value="thursday">Jueves</ion-select-option>
          <ion-select-option value="friday">Viernes</ion-select-option>
          <ion-select-option value="saturday">Sábado</ion-select-option>
          <ion-select-option value="sunday">Domingo</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Horarios disponibles -->
      <ion-item lines="full">
        <ion-label>Horarios de Atención</ion-label>
        <ion-button fill="clear" slot="end" (click)="editAvailableHours()">Editar/Añadir</ion-button>
      </ion-item>
      
      <ion-list>
        <ion-item *ngFor="let hour of service.availableHours; let i = index">
          <ion-label>
            {{ hour.days?.join(', ') || 'Sin días asignados' }}: {{ hour.startTime }} - {{ hour.endTime }}
          </ion-label>
          <ion-button fill="clear" color="danger" slot="end" (click)="removeAvailableHour(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      
      
      <ion-item lines="full">
        <ion-label>Bloqueos de Horario</ion-label>
        <ion-button fill="clear" slot="end" (click)="editBlockedTimeSlots()">Editar/Añadir</ion-button>
      </ion-item>
      
      <ion-list>
        <ion-item *ngFor="let block of service.blockedTimeSlots; let i = index">
          <ion-label>
            {{ block.days?.join(', ') || 'Sin días asignados' }}: {{ block.startTime }} - {{ block.endTime }}
            <br />
            <small>Motivo: {{ block.reason }}</small>
          </ion-label>
          <ion-button fill="clear" color="danger" slot="end" (click)="removeBlockedTimeSlot(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>      
    </ion-list>
  </div>
</ion-content>
