<ion-header>
  <ion-toolbar class="header">
    <ion-title>{{ service?.name || 'Editar Servicio' }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteService()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Segmento para alternar entre Edición y Ofertas -->
  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="edit">
      <ion-label>Editar Servicio</ion-label>
    </ion-segment-button>
    <ion-segment-button value="offers">
      <ion-label>Ofertas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Sección de Edición -->
  <div *ngIf="segmentValue === 'edit'">
    <div class="service-details" *ngIf="service">
      <!-- Imagen del servicio con botón para editar -->
      <img [src]="localImage || service.imageUrl || defaultImageUrl" alt="Imagen del servicio" class="service-image" />
      <ion-button class="photo-button" expand="block" (click)="selectPhoto()">Cambiar Imagen</ion-button>
  
      <ion-list class="editable-list">
        <!-- Nombre del servicio editable -->
        <ion-item lines="full">
          <ion-label slot="start" class="pseudo-title">Nombre del Servicio</ion-label>
          <ion-label>
            <h2>{{ service.name }}</h2>
          </ion-label>
          <ion-button class="edit-button" fill="clear" size="small" slot="end" (click)="openEditAlert('name', service.name)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-item>
  
        <!-- Categoría editable -->
        <ion-item lines="full">
          <ion-label slot="start" class="pseudo-title">Categoría</ion-label>
          <ion-label>
            <p>{{ service.category }}</p>
          </ion-label>
          <ion-button class="edit-button" fill="clear" size="small" slot="end" (click)="openCategoryEditAlert()">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-item>
  
        <!-- Descripción editable -->
        <ion-item lines="full">
          <ion-label slot="start" class="pseudo-title">Descripción</ion-label>
          <ion-label>
            <p>{{ service.description }}</p>
          </ion-label>
          <ion-button class="edit-button" fill="clear" size="small" slot="end" (click)="openEditAlert('description', service.description)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-item>
  
        <!-- Días disponibles -->
        <ion-item>
          <ion-label>Días Disponibles</ion-label>
          <ion-select multiple="true" [value]="service.availableDays" (ionChange)="updateDays($event)">
            <ion-select-option *ngFor="let day of allDays" [value]="day.value">{{ day.label }}</ion-select-option>
          </ion-select>
        </ion-item>
  
        <!-- Horario de atención -->
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label>Hora de Apertura</ion-label>
                <ion-button class="photo-button" expand="block" (click)="editHours('startTime')">
                  {{ availableStartTime || 'Seleccionar' }}
                </ion-button>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label>Hora de Cierre</ion-label>
                <ion-button class="photo-button" expand="block" (click)="editHours('endTime')">
                  {{ availableEndTime || 'Seleccionar' }}
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </div>

  <!-- Sección de Ofertas -->
  <div *ngIf="segmentValue === 'offers'">
    <ion-list *ngIf="service?.offers?.length">
      <ion-item-sliding *ngFor="let offer of service.offers; let i = index"(click)="editOffer(offer.id)">
        <ion-item>
          <ion-label>
            <strong>{{ offer.name }}</strong><br />
            <ion-text>{{ offer.price | currency:'CLP': '$' }}</ion-text><br />
            <ion-note color="medium" class="ion-text-wrap">{{ offer.description }}</ion-note>
          </ion-label>
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="editOffer(offer.id)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteOffer(i)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-text *ngIf="!service?.offers?.length" color="medium">
      <p class="ion-padding">No hay ofertas disponibles.</p>
    </ion-text>
    <ion-fab class="fabs" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/service-home/add-offer', serviceId]" class="fab-orange">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>


<!-- BOTTOM BAR -->
<app-bottom-nav></app-bottom-nav>
