<ion-header>
  <ion-toolbar class="header">
    <ion-title>Agregar Oferta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <app-custom-input 
      icon="home-outline"
      [control]="form.controls.name"
      type="text"
      label="Nombre de la Oferta">
    </app-custom-input>

    <app-custom-input 
      icon="information-circle-outline"
      [control]="form.controls.description"
      type="text"
      label="Descripción">
    </app-custom-input>

    <app-custom-input 
      icon="cash-outline"
      [control]="form.controls.price"
      type="number"
      label="Precio">
    </app-custom-input>

    <app-custom-input 
      icon="alarm-outline"
      [control]="form.controls.duration"
      type="number"
      label="Duración">
    </app-custom-input>

    <ion-button class="orange-button" shape="round" expand="block" type="submit" [disabled]="form.invalid"> 
      Guardar
    </ion-button>
  </form>
</ion-content>
