<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Oferta</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <app-custom-input 
      icon="home-outline"
      [control]="form.controls.name"
      type="text"
      label="Nombre de la Oferta">
    </app-custom-input>

    <app-custom-input 
      icon="information-circle-outline"
      [control]="form.controls.description"
      type="text"
      label="Descripción">
    </app-custom-input>

    <app-custom-input 
      icon="cash-outline"
      [control]="form.controls.price"
      type="number"
      label="Precio">
    </app-custom-input>

    <app-custom-input 
      icon="alarm-outline"
      [control]="form.controls.duration"
      type="number"
      label="Duración">
    </app-custom-input>

    <!-- Vista previa de la imagen seleccionada -->
    <div *ngIf="imagePreview" class="image-preview">
      <img [src]="imagePreview" alt="Vista previa de la imagen" />
    </div>

    <!-- Botón para seleccionar o tomar una foto -->
    <ion-button expand="block" color="primary" (click)="selectImage()">Seleccionar Imagen</ion-button>

    <ion-button class="orange-button" shape="round" expand="block" type="submit" [disabled]="form.invalid"> 
      Guardar
    </ion-button>
  </form>
</ion-content>


<!-- BOTTOM BAR -->
<app-bottom-nav></app-bottom-nav>