.header {
    --background: #FF7043;
    --color: white;
  }

  ion-item {
    --color: #666; /* Texto e icono en naranja */
  }
  
  .header ion-icon {
    color: white;
  }
  
  .custom-button {
    --background: #f57c00; /* Naranja */
    --color: #fff; /* Blanco para el texto */
  }

  .custom-radio {
    --color-checked: #f57c00; /* Naranja */
    --color: #f57c00;
  }
  
  .roles-container {
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0;
    ion-item {
      display: flex;
      align-items: center;
      ion-label {
        font-size: 14px;
        margin-left: 8px;
      }
    }


  }

  ion-select{
    margin-top: 15px;
    color: #666; /* Texto e icono en naranja */
    font-size: 13px;
    
    border-color: #666;
  }
  