<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ServiList</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="category-bar" >
    <h1>Categorias</h1>
  </div>

  <div class="Servicios">
    <ion-card class="square-card">
      <img src="https://picsum.photos/2010/300" alt="Imagen descriptiva">
      <p class="card-text">servicio</p>
    </ion-card>
  </div>
  

  <div class="image-section">
    <img src="https://picsum.photos/2010/300" alt="Imagen descriptiva">
  </div>

  <ion-list lines="none">

    <ion-card>
      <ion-item button detail (click)="goToServiceName()">
        <ion-avatar slot="start">
          <img src="https://picsum.photos/100" class="image-style" alt="Random image">
        </ion-avatar>
        <ion-label>
          <h2>Spa Relajación Total</h2>
          <p>Calle El Bosque Norte 345, Las Condes, Santiago</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button detail (click)="goToServiceName()">
        <ion-avatar slot="start">
          <img src="https://picsum.photos/70" class="image-style" alt="Random image">
        </ion-avatar>
        <ion-label>
          <h2>Spa Relajación Total</h2>
          <p>Calle El Bosque Norte 345, Las Condes, Santiago</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button detail (click)="goToServiceName()">
        <ion-avatar slot="start">
          <img src="https://picsum.photos/80" class="image-style" alt="Random image">
        </ion-avatar>
        <ion-label>
          <h2>Spa Relajación Total</h2>
          <p>Calle El Bosque Norte 345, Las Condes, Santiago</p>
        </ion-label>
      </ion-item>
    </ion-card>

  </ion-list>

</ion-content>

  <!-- Contenido de la página -->
  <app-bottom-nav></app-bottom-nav> <!-- Añadir la barra de navegación inferior -->