<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="home()">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button (click)="Profile()">
        <ion-icon name="Person-outline"></ion-icon>
        Perfil
      </ion-tab-button>
      <ion-tab-button (click)="signOut()" tab="exit-outline" >
        <ion-icon name="exit-outline"></ion-icon>
        Cerrar Sesion
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>




</ion-content>


