.category-btn {
    --border-radius: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    text-align: center;
    font-size: 12px;
    height: 50px;
  }
  
  .selected-category {
    background-color: #F18D8D;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
    margin: 15px 0;
  }
  
  ion-card {
    --border-radius: 12px;
    margin-bottom: 12px;
  }

  ion-content {
    --padding-bottom: 60px;  /* Ajustar el espacio inferior si es necesario */
  }

  .icon-style {
    background-color: #FF7F7F;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-style {
    border-radius: 8px;
    width: 40px;
    height: 40px;
  }

  .category-bar {
    background-color: #ff5a22; /* Color de fondo naranja */
    color: white; /* Texto blanco */
    text-align: center; /* Texto centrado */
    padding: 5px 0; /* Reduce el padding (espaciado interno) */
    font-weight: bold; /* Texto en negrita */
    font-size: 18px; /* Tamaño del texto */
    width: 100%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho */
    margin: 0; /* Sin márgenes */
    margin-bottom: 2px; /* Espacio de 2px entre la barra y la siguiente sección */
  }

  /* Estilo para la sección de la imagen */
.image-section img {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: 200px; /* Ajusta la altura automáticamente según la proporción */
  max-height: 150px; /* Ajusta la altura máxima de la imagen */
  display: block; /* Elimina el espacio blanco debajo de la imagen */
  text-align: center; /* Centrar el contenido de la sección */
  margin-top: 2px; /* Espacio adicional entre la imagen y la categoría si es necesario */
}