<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ service?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="service-details">
    <img [src]="service?.image" alt="Imagen del servicio" />
    <h2>{{ service?.name }}</h2>
    <p>{{ service?.category }}</p>
    <p>{{ service?.description }}</p>
  </div>

  <div class="service-offers">
    <h3>Servicios Ofrecidos</h3>
    <ion-list>
      <ion-item *ngFor="let offer of service?.offers">
        <ion-label>
          <h2>{{ offer.name }}</h2>
          <p>{{ offer.description }}</p>
        </ion-label>
        <p>Precio: {{ offer.price }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
