// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-naranja: #FF7043;
    --ion-color-naranja-rgb: 255, 112, 67;
  }

  :root {
    --ion-color-primary: #FF7043;
    --ion-color-primary-rgb: 255, 112, 67;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #e66139;
    --ion-color-primary-tint: #ff8a65;
  }
  