// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-naranja: #FF7043;
    --ion-color-naranja-rgb: 255, 112, 67;
}
  
:root {
  --ion-color-alert-orange: #FF7043;
  --ion-color-alert-orange-rgb: 255, 112, 67;
  --ion-color-alert-orange-contrast: #ffffff;
  --ion-color-alert-orange-contrast-rgb: 255, 255, 255;
  --ion-color-alert-orange-shade: #e66139;
  --ion-color-alert-orange-tint: #ff8a65;
}
