<ion-header>
  <ion-toolbar class="header">
    <ion-title>Agendar Cita</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content">
    <h2>{{ service?.name }}</h2>
    <p class="service-category">Categoría: {{ service?.category }}</p>
    <p class="instruction">Seleccione la fecha y hora de su cita.</p>

    <div class="form-container">
      <!-- Campo para seleccionar Fecha -->
      <ion-datetime
        [preferWheel]="true"
        displayFormat="DD MMMM YYYY"
        [(ngModel)]="selectedDate"
        presentation="date"
        locale="es-ES"
        [min]="today"
        [max]="maxDate"
        placeholder="Selecciona una fecha"
        (ionChange)="updateAvailability()">
      </ion-datetime>
      
      <!-- Lista de Horas Disponibles -->
      <div class="hours-list-tittle">
        <h2>Horas Disponibles</h2>
      </div>
      <ion-list class="time-list">
        <ion-item *ngFor="let time of availableTimes" (click)="selectTime(time)" [disabled]="!time.available">
          <ion-checkbox slot="start" labelPlacement="end" [(ngModel)]="time.checked" (ionChange)="toggleTimeSelection(time)" [disabled]="!time.available">
            {{ time.label }}
          </ion-checkbox>
        </ion-item>
      </ion-list>

    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="full" class="confirm-button" (click)="scheduleService()">Confirmar Agendamiento</ion-button>
</ion-footer>
