<ion-header>
  <ion-toolbar class="header">
    <ion-title>Agendar Cita</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content">
    <h2>{{ service?.name }}</h2>
    <p class="service-category">Categoría: {{ service?.category }}</p>
    <p class="instruction">Seleccione la fecha y hora de su cita.</p>

    <div class="form-container">
      <!-- Campo para seleccionar Fecha -->
      <ion-item class="form-item">
        <ion-label position="stacked">Fecha</ion-label>
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          [(ngModel)]="selectedDate"
          presentation="date"
          locale="es-ES"
          placeholder="Selecciona una fecha">
        </ion-datetime>
      </ion-item>

      <!-- Campo para seleccionar Hora -->
      <ion-item class="form-item">
        <ion-label position="stacked">Hora</ion-label>
        <ion-datetime
          displayFormat="HH:mm"
          pickerFormat="HH:mm"
          [(ngModel)]="selectedTime"
          presentation="time"
          locale="es-ES"
          placeholder="Selecciona una hora">
        </ion-datetime>
      </ion-item>
    </div>

    <ion-button expand="full" class="confirm-button" (click)="scheduleService()">Confirmar Agendamiento</ion-button>
  </div>
</ion-content>
