<head>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>

<ion-content [fullscreen]="true">

  <video autoplay muted loop class="background-video">
    <source src="assets/icon/FONDO.mp4" type="video/mp4">
  </video>

  <!-- Contenedor para el logo -->
  <div class="logo-container">
    <!-- Logotipo de la aplicación -->
    <img src="assets/icon/logo.png" alt="App Logo" class="app-logo" />
  </div>

  <!-- Título de la aplicación -->
  <h1 class="app-title">Servilist</h1>

  <!-- Contenedor de la imagen -->
  <div class="image-container">
    <img src="assets/icon/BIENVENIDO.png" alt="Imagen" class="app-image" />
  </div>

  <!-- Contenedor del botón -->
  <div class="button-container">
    <ion-button class="start-button">Empezar</ion-button>
  </div>
</ion-content>