<ion-header>
  <ion-toolbar class="header">
    <ion-title>Mis Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- CARDS DE SERVICIOS -->
  <ion-list class="service-list" lines="none">
    <div class="service-list-tittle">
      <h1>Todos los Servicios</h1>
    </div>
    <ion-card class="service" *ngFor="let service of services" [routerLink]="['/service-home/edit-service', service.id]">
      <img [src]="service.imageUrl" alt="Imagen del servicio" />
      <ion-card-header class="service-tittle">

        <ion-card-title>{{ service.name }}</ion-card-title>
        <ion-card-subtitle>{{ service.category }}</ion-card-subtitle>
        
        <ion-buttons class="service-delete">
          <ion-button>
            <ion-icon [routerLink]="['/service-home/edit-service', service.id]" color="primary" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteService(service.id); $event.stopPropagation()">
            <ion-icon color="danger" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-card-header>
      
      <ion-card-content>
        {{ service.description }}
      </ion-card-content>

    </ion-card>
  </ion-list>
  <!-- <ion-list>
    <ion-item-sliding  *ngFor="let service of services">
      <ion-item>
        <ion-label>
          <strong>{{ service.name }}</strong>
          <ion-text>
            {{ service.description }}
          </ion-text><br>
          <ion-text>
            {{ service.price | currency:'CLP': '$' }}
          </ion-text><br>
          <ion-note color="medium" class="ion-text-wrap">
            {{ service.description }}
          </ion-note>
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash" (click)="deleteService(service.id)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="fab-orange">
      <ion-icon name="add" routerLink="/service-home/add-service"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
