<ion-header>
  <ion-toolbar class="header">
    <ion-title>Mis Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- CARDS DE SERVICIOS -->
  <ion-list class="service-list" lines="none">
    <div class="service-list-tittle">
      <h1>Todos los Servicios</h1>
    </div>
    <ion-card class="service" *ngFor="let service of services" [routerLink]="['/service-home/edit-service', service.id]">
      <img [src]="service.imageUrl" alt="Imagen del servicio" />
      <ion-card-header class="service-tittle">

        <ion-card-title>{{ service.name }}</ion-card-title>
        <ion-card-subtitle>{{ service.category }}</ion-card-subtitle>
        
        <ion-buttons class="service-delete">
          <ion-button>
            <ion-icon [routerLink]="['/service-home/edit-service', service.id]" color="primary" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteService(service.id); $event.stopPropagation()">
            <ion-icon color="danger" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-card-header>
      
      <ion-card-content>
        {{ service.description }}
      </ion-card-content>

    </ion-card>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="fab-orange">
      <ion-icon name="add" routerLink="/service-home/add-service"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab slot="fixed" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add" (click)="generateTestData()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
